@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #10172a;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  font-size: 16px;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .rotate-y-90 {
    transform: rotateY(90deg);
  }

  .rotate-y-0 {
    transform: rotateY(0deg);
  }

  .flipped .rotate-y-0 {
    transform: rotateY(0deg);
  }
}

.red-border {
  border: 1px solid red;
}

.card-animation {
  transition-delay: calc(var(--index) * 40ms);

  @starting-style {
    scale: 0.8;
    opacity: 0;
  }
}

/* Reach Dialog customizations */
[data-reach-dialog-content] {
  position: relative;
  padding-top: 2rem;
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 95% !important;
  max-width: 1200px;
  background: transparent !important;
  margin: 50px auto !important;
  margin-bottom: 0px !important;
}

[data-reach-dialog-overlay] {
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
}
