@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1d1d1d;
}

body {
  color: var(--foreground);
  font-size: 16px;
}

@layer utilities {
  .rotate-y-90 {
    transform: rotateY(90deg);
  }

  .rotate-y-0 {
    transform: rotateY(0deg);
  }

  .flipped .rotate-y-0 {
    transform: rotateY(0deg);
  }
}